@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html {
  background-color: lightblue 
}

* {
  box-sizing: border-box
}

body {
  font-family: 'Source Code Pro', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation: flyin 5s;
}

@keyframes flyin {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}